
.new-todo {
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 16px 16px 16px 60px;
	width: 100%;
	font-size: 20px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	color: #4d4d4d;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgba(0, 0, 0, 0.036);
	/* box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03); */
	border: none;
}