.task-list {
	margin: 0;
	padding: 0;
	list-style: none;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.task-list li .toggle {
		background: none;
	}

	.task-list li .toggle {
		height: 40px;
	}
}